@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}

.landingPageSpan {
  text-decoration: underline;
  color: #2970ff;
}

.react-select {
  width: 200px; /* Default width */
  font-size: 14px; /* Default font size */
}

@media (max-width: 800px) {
  .react-select {
    width: 100%; /* Adjust width for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}