@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}

.landingPageSpan {
  text-decoration: underline;
  color: #2970ff;
}

